.PostBody {
  display: flex;
  flex-direction: column;
  gap: 12px;
  overflow-wrap: break-word;
}

.PostBody h1 {
  font-size: x-large;
  font-weight: bold;
}

.PostBody h2 {
  font-size: large;
  font-weight: bold;
}

.PostBody :not(pre)>code {
  border-radius: 5px;
  white-space: normal;
  padding: .15em .2em .2em;
  color: white;
  background-color: rgba(115,124,153,.2);
}

.PostBody a {
  color: lab(80.574 30.6 -11.24);
}

.PostBody a:hover {
  color: white;
  transition: all 0.3s;
}

.PostBody li {
  display: list-item;
  list-style-type: disc;
  list-style-position: inside;
}