<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav id="page-header">
	    		<ul class="navigation-children-container">
	        		<li class="navigation-children page-header-children">
								<a href="/">Home</a>
							</li>
		        	<li class="navigation-children page-header-children">
								<a href="/about">About</a>
							</li>
	        		<li class="navigation-children page-header-children">
								<a href="/ai">AI</a>
							</li>
	        		<li class="navigation-children page-header-children">
								<a href="/space">Space</a>
							</li>
	        		<li class="navigation-children page-header-children">
								<a href="/others">Others</a>
							</li>
	    		</ul>
			</nav>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer id="page-footer">
	    		<ul class="navigation-children-container">
	        		<li class="navigation-children page-footer-children">
								<a href="mailto:sebasgarcep@gmail.com">email</a>
							</li>
	        		<li class="navigation-children page-footer-children">
								<a href="https://github.com/sebasgarcep">github.com/sebasgarcep</a>
							</li>
				</ul>
			</footer>
		</body>
	</html>
